version: '3.8'

services:
  yolo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yolo_detector
    network_mode: host 
    privileged: true
    restart: unless-stopped

    environment:
      - ROS_MASTER_URI=http://127.0.0.1:11311/
      - ROS_IP=127.0.0.1

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu] 
    command: /bin/bash -c "set -e && source /opt/ros/noetic/setup.bash && python3 /app/yolo_node.py"